.deliveryForgotPassword {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deliveryForgotPassword form {
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
         box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.deliveryForgotPassword form .deliveryForgotPassword-field {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.deliveryForgotPassword form .deliveryForgotPassword-field label {
    margin-bottom: 10px;
}

.deliveryForgotPassword form .deliveryForgotPassword-field input {
    border-radius: 5px;
    outline: none;
    height: 40px;
    padding: 10px;
    width: 100%;
    border: 1px solid #868686;
}

.deliveryForgotPassword form .deliveryForgotPassword-field p {
    margin-top: 10px;
}

.deliveryForgotPassword form button {
    width: 100%;
    border-radius: 5px;
    background-color: olivedrab;
    color: white;
    height: 40px;
    border: none;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s linear;
}

.deliveryForgotPassword form button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}