@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body, html {
    width: 100%;
    height: 100%;
    background-color: #f7f4f3;
    font-family: 'Rubik', sans-serif;
}

.dvl-container {
    width: 60%;
    margin: 100px auto;
}

.dvl-color-bg-loader {
    background-color: #f7f4f3 !important;
}

.dvl-color-loader {
    color: black !important;
}

@media only screen and (max-width: 1400px) {
    .dvl-container {
        width: 80%;
    }
}

/* @media only screen and (max-width: 1025px) {

} */

@media only screen and (max-width: 961px) {
    .dvl-container {
        width: 90%;
    }
}