.deliveryPaypal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deliveryPaypal .deliveryPaypal-box {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
         box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.payPalButton .payPalButton-dropdown {
    width: 100%;
    margin-bottom: 20px;
}